/* ******************************************
Layout
****************************************** */

body {
  border: 2px solid $secondary-color;
  @include bp(md) {
    border: 3px solid $secondary-color;
  }
}

html {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body {
  min-height: 100%;
  background-color: $primary-dark;
  padding: .75em;
}

.container {
  margin: 0 auto;
  max-width: 70em;
}

header {
  padding: 1.25em;
  text-align: center;
  h1 {
    padding: .5em 0 .35em;
    text-align: center;
  }
}

h5 {
  font-size: .9em;
  line-height: 1.4;
  color: white;
  font-weight: 400;
}

.input-container {
  margin: 0 auto;
  padding: .5em 0 .75em;
  width: 100%;
  max-width: 33em;
}

input {
  height: 2.75em;
  padding: .5em;
  margin: 0;
  border: none;
}
.input-field {
  border: none;
  margin: 0;
  outline: 0;
  width: 65%;
  color: $primary-dark;
}
.submit-button {
  text-transform: uppercase;
  margin: 0;
  background-color: $secondary-color;
  color: $primary-dark;
  padding: 0 .75em;
  width: 35%;
}
.input-container input {
  transition: all .25s ease;
}
.input-container input[type="submit"]:hover,
.input-container input[type="submit"]:active {
  background-color: white;
  color: $secondary-color;
}
.input-container input[type="submit"]:focus {
  outline: none;
}


// Image Results
.results-container {
  padding: .3em;
  margin: 0 auto;
  text-align: center;
  img {
    width: 100%;
  }
}

.results-message {
  padding-bottom: .5em;
}

.img-results {
  padding: .5em;
  @include bp(md) {
    float: left;
    width: 50%;
    padding: .6em;
  }
  @include bp(xlg) {
    width: 33.3333333%;
  }
}



// Error Message
.error {
  border-bottom: none;
  color: #FFECB3;
  padding: .75em;
  float: left;
}



